
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
}
nav a{
  list-style: none;
  font-size: 32px;
  text-decoration: none;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}.home-ru9 {
  box-sizing: border-box;
  padding: 0.9rem 1rem 8.4rem 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
}
.auto-group-gztp-P8P {
  margin: 0rem 4.3rem 13.8rem 0rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.auto-group-gztp-P8P {
  margin: auto;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  color: #2d2d2d;
  white-space: nowrap;
}

#home {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #0d478c;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
}
nav a{
  list-style: none;
  font-size: 32px;
  text-decoration: none;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#home-ru9 {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.auto-group-gztp-P8P {
  margin: 0rem 4.3rem 10.8rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
#portfolio {
  margin-right: 11.3rem;
  margin-left: 3.3rem;
  gap: 11;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.8859375;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

#error
{
  color: red;
  position:relative;
  font-size: 2rem;
  font-family: roboto condensed ,'source sans pro';
  display: flex;
  right: -70rem;

}
.frame-361-Cbd
{
  display: flex;
  column-gap: 5rem;
  align-items: flex-start;
  flex-wrap: nowrap;
  
}
.about-shm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.work-cvF {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-Awm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-KZm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GV1 {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-Dv3 {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-gjub-MmM {
  flex-shrink: 0;
  display: grid;
    justify-items: center;
}
.auto-group-rbth-h4X {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.names {
  margin-bottom: 4rem;
  max-width: 47.9rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3636363636;
  color: #21243d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.group-4-cqh {
  margin-top: 0.5rem;
  margin-left: -123px;
  width: 26.3rem;
  height: 27.7rem;
  position: relative;
  flex-shrink: 0;
}
.ellipse-2-A6X {
  width: 24.3rem;
  height: 24.3rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  background-color: #edf7fa;
  border-radius: 12.15rem;
}
.ellipse-1-gqZ {
  width: 50rem;
  height: 35rem;
  position: relative;
  left: 2rem;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg-e67.png');
  border-radius: 12.15rem;
}
.frame-2-BnK {
  margin: 0rem 77.2rem 7.2rem 4.5rem;
  width: calc(100% - 81.7rem);
  height: 4.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-2-Wpb{
  text-decoration: none;
}
.group-2-Wpb {
  margin-right: 2.7rem;
  width: 20.8rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d478b;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.group-3-oHu {
  width: 20.8rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d478c;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.work-tKM {
  margin: 0rem 0rem 1.9rem 9.8rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3636363636;
  color: #0d478c;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-section-cFM {
  margin: 0rem 0rem 13rem 0.4rem;
  box-sizing: border-box;
  padding: 4.2rem 0rem 0rem 2.4rem;
  width: 124rem;
  height: 46.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cards-section-7T1 {
  width: 123.2rem;
  height: 86.2rem;
}
.auto-group-yv79-U2f {
  margin-bottom: 2.4rem;
  height: 41.9rem;
  display: flex;
  align-items: center;
}
.gallery-card-RCo {
  margin-right: 2.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-NNw {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-75d {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-4Fm {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-aju {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.component-9-KBh {
  margin-right: 2.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-sU7 {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-p8T {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-aNX {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-Wmy {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.component-10-e7V {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-QMZ {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-9a3 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-iNF {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-Fsy {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-i5jz-CHR {
  width: 100%;
  height: 41.9rem;
}
.button-vjD {
  margin: 0rem 54.8rem 19.8rem 43.7rem;
  width: calc(100% - 98.5rem);
  height: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0d478c;
  flex-shrink: 0;
}
.component-22-1Vm {
  margin-left: 2.6rem;
  width: 113.8rem;
  height: 30.6rem;
  position: relative;
  flex-shrink: 0;
}
.lets-work-together-kiF {
  width: 24rem;
  height: 4.2rem;
  position: absolute;
  left: 1.533rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-section-TsZ {
  box-sizing: border-box;
  padding: 4.2rem 2.4rem 2.9rem 2.4rem;
  width: 125.0718rem;
  height: 36.9rem;
  position: absolute;
  left: -3.6rem;
  top: -3.2rem;
  background-color: #ffffff;
}
.lets-work-together-yb1 {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-section-content-K95 {
  width: 100%;
  height: 23.2rem;
  display: flex;
  align-items: flex-start;
}
.contact-info-4cT {
  margin-right: 17.8718rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.para {
  margin-bottom: 4.2rem;
  max-width: 50.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.social-links-g83 {
  width: 27.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-form-bko {
  width: 52rem;
  height: 100%;
  flex-shrink: 0;
}
.input-fields-Mjy {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#email {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f3f3f3;
  flex-shrink: 0;
}
#name {
  box-sizing: border-box;
  padding: 1.6rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f3f3f3;
  flex-shrink: 0;
}
.button-53h {
  width: 18.5rem;
  height: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2d2d2d;
}

.about-shm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.work-cvF {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-Awm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-KZm {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GV1 {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-Dv3 {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9966796637;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-gjub-MmM {
  margin: 0rem 14.6rem 3rem 4rem;
  width: calc(100% - 18.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.auto-group-rbth-h4X {
  margin-right: 30rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#names {
  margin-bottom: 4rem;
  max-width: 47.9rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3636363636;
  color: #21243d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
#description {
  max-width: 51.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #21243d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.group-4-cqh {
  margin-top: 0.5rem;
  width: 26.3rem;
  height: 27.7rem;
  position: relative;
  flex-shrink: 0;
}
.ellipse-2-A6X {
  width: 24.3rem;
  height: 24.3rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  background-color: #edf7fa;
  border-radius: 12.15rem;
}
.frame-2-BnK {
  margin: 0rem 77.2rem 7.2rem 4.5rem;
  width: calc(100% - 81.7rem);
  height: 4.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-2-Wpb{
  text-decoration: none;
}
.group-2-Wpb {
  margin-right: 2.7rem;
  width: 20.8rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d478b;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.group-3-oHu {
  width: 20.8rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d478c;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.work-tKM {
  margin: 0rem 0rem 1.9rem 9.8rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3636363636;
  color: #0d478c;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-section-cFM {
  margin: 0rem 0rem 13rem 0.4rem;
  box-sizing: border-box;
  padding: 4.2rem 0rem 0rem 2.4rem;
  width: 124rem;
  height: 46.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cards-section-7T1 {
  width: 123.2rem;
  height: 86.2rem;
}
.auto-group-yv79-U2f {
  margin-bottom: 2.4rem;
  height: 41.9rem;
  display: flex;
  align-items: center;
}
.gallery-card-RCo {
  margin-right: 2.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-NNw {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-75d {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-4Fm {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-aju {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.component-9-KBh {
  margin-right: 2.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-sU7 {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-p8T {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-aNX {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-Wmy {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.component-10-e7V {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image-QMZ {
  margin-bottom: 2.4rem;
  width: 38.1333rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.title-description-9a3 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.project-title-iNF {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ui-art-drection-Fsy {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5882352941;
  color: #2d2d2d;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-i5jz-CHR {
  width: 100%;
  height: 41.9rem;
}
.button-vjD {
  margin: 0rem 54.8rem 19.8rem 43.7rem;
  width: calc(100% - 98.5rem);
  height: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0d478c;
  flex-shrink: 0;
}
.component-22-1Vm {
  margin-left: 2.6rem;
  width: 113.8rem;
  height: 30.6rem;
  position: relative;
  flex-shrink: 0;
}
.lets-work-together-kiF {
  width: 24rem;
  height: 4.2rem;
  position: absolute;
  left: 1.533rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-section-TsZ {
  box-sizing: border-box;
  padding: 4.2rem 2.4rem 2.9rem 2.4rem;
  width: 125.0718rem;
  height: 36.9rem;
  position: absolute;
  left: -3.6rem;
  top: -3.2rem;
  background-color: #ffffff;
}
.lets-work-together-yb1 {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #2d2d2d;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-section-content-K95 {
  width: 100%;
  height: 23.2rem;
  display: flex;
  align-items: flex-start;
}
.contact-info-4cT {
  margin-right: 17.8718rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.social-links-g83 {
  width: 27.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-form-bko {
  width: 52rem;
  height: 100%;
  flex-shrink: 0;
}
.input-fields-Mjy {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-53h {
  width: 18.5rem;
  height: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2d2d2d;
}

@media screen and (max-width: 1366px){

  .group-4-cqh{
    display:grid;
  }
}